[submodule "naemon-core"]
	path = naemon-core
	url = http://git.op5.org/p/monitor/naemon.git
[submodule "naemon-livestatus"]
	path = naemon-livestatus
	url = http://git.op5.org/p/monitor/livestatus.git
